
.vs/chart00/v15/.suo
.vs/chart00/v15/Server/sqlite3/db.lock
.vs/chart00/v15/Server/sqlite3/storage.ide
.vs/chart00/v15/Server/sqlite3/storage.ide-shm
.vs/chart00/v15/Server/sqlite3/storage.ide-wal
chart00/bin/Debug/chart00.exe
chart00/bin/Debug/chart00.exe.config
chart00/bin/Debug/chart00.pdb
chart00/bin/Debug/System.Windows.Controls.DataVisualization.Toolkit.dll
chart00/bin/Debug/System.Windows.Controls.DataVisualization.Toolkit.xml
chart00/obj/Debug/App.g.cs
chart00/obj/Debug/App.g.i.cs
chart00/obj/Debug/chart00.csproj.CopyComplete
chart00/obj/Debug/chart00.csproj.CoreCompileInputs.cache
chart00/obj/Debug/chart00.csproj.FileListAbsolute.txt
chart00/obj/Debug/chart00.csproj.GenerateResource.cache
chart00/obj/Debug/chart00.csprojAssemblyReference.cache
chart00/obj/Debug/chart00.exe
chart00/obj/Debug/chart00.g.resources
chart00/obj/Debug/chart00.pdb
chart00/obj/Debug/chart00.Properties.Resources.resources
chart00/obj/Debug/chart00_MarkupCompile.cache
chart00/obj/Debug/chart00_MarkupCompile.lref
chart00/obj/Debug/DesignTimeResolveAssemblyReferences.cache
chart00/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
chart00/obj/Debug/MainWindow.baml
chart00/obj/Debug/MainWindow.g.cs
chart00/obj/Debug/MainWindow.g.i.cs
chart00/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
chart00/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
chart00/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
chart00/obj/Debug/Window1.baml
chart00/obj/Debug/Window1.g.cs
chart00/obj/Debug/Window1.g.i.cs
chart00/bin/Release/chart00.exe
chart00/bin/Release/chart00.exe.config
chart00/bin/Release/chart00.pdb
chart00/bin/Release/System.Windows.Controls.DataVisualization.Toolkit.dll
chart00/bin/Release/System.Windows.Controls.DataVisualization.Toolkit.xml
.vs/chart00/DesignTimeBuild/.dtbcache
chart00/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
chart00/obj/Release/App.g.cs
chart00/obj/Release/App.g.i.cs
chart00/obj/Release/chart00.csproj.CopyComplete
chart00/obj/Release/chart00.csproj.CoreCompileInputs.cache
chart00/obj/Release/chart00.csproj.FileListAbsolute.txt
chart00/obj/Release/chart00.csproj.GenerateResource.cache
chart00/obj/Release/chart00.csprojAssemblyReference.cache
chart00/obj/Release/chart00.exe
chart00/obj/Release/chart00.g.resources
chart00/obj/Release/chart00.pdb
chart00/obj/Release/chart00.Properties.Resources.resources
chart00/obj/Release/chart00_MarkupCompile.cache
chart00/obj/Release/chart00_MarkupCompile.lref
chart00/obj/Release/MainWindow.baml
chart00/obj/Release/MainWindow.g.cs
chart00/obj/Release/MainWindow.g.i.cs
chart00/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
chart00/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
chart00/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
chart00/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
chart00/obj/Release/Window1.baml
chart00/obj/Release/Window1.g.cs
chart00/obj/Release/Window1.g.i.cs
